@charset "utf-8";
.result {
  font-size: 20px;
  font-weight: bold;
}

#total {
  font-size: 30px;
  color: rgb(238, 82, 82);
}

#modal {
  position: fixed;
  display: none;
  width: 50%;
  margin: 10px;
  padding: 10px 20px;
  border: 2px solid black;
  background: #fff;
  color: black;
}